body {
  font-size: 13px;
    font-size: 1.3rem;
    color: #212121;
    font-family: Helvetica,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic',YuGothic,Osaka,'メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS P Gothic',sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right .login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  cursor: pointer;
  display: block;
}

/* メイン画面 */
.top-archive {
  background-color: #fff;
  padding: 20px 0 124px;
  margin-top: 65px;
}

.top-archive_list {
  margin: 0 auto;
  width: 96%;
}

.top-archive_item {
  background-color: #f2f2f2;
  /* float: left; */
  overflow: hidden;
  position: relative;
}

.top-archive_item-link {
  display: block;
  padding-top: 68%;
  text-decoration: none;
}

.top-archive_item-image-block {
  width: 100%;
  height: 100%;
}

.top-archive_item-image {
  background-image: url(picture/sample1.jpg);
  display: none;
  background-position: center;
  background-size: cover;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item_large {
  width: 47%;
}

.top-archive_item-text {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.top-archive_item {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000;
  margin: 0 20px;
  position: relative;
  top: 43%;
}

.image-active {
  display: block;
}

.text-active {
  display: none;
}




















//
