body {
  margin: 0;
}

a{
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right .login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  cursor: pointer;
  display: block;
}

.top-archive {
  background-color: #fff;
  padding: 20px 0 124px;
}

.top-archive_list {
  margin: 0 auto;
  width: 96%;
}

.top-archive_item {
  background-color: #f2f2f2;
  float: left;
  margin: 0 1.2894% 2.5788%;
  overflow: hidden;
  position: relative;
  width: 22%;
}


























//
